{% extends "root/root_errors.html" %}
{% load i18n %}

{% block error_number %}404{% endblock %}
{% block error_description %} {% trans "Ooooops! Page Introuvable" %} {% endblock %}
{% block error_advice %}
    {% trans "Il semble que la page que vous recherchez est introuvable, Veuillez nous excuser pour le désagrément causé. Nous vous invitons à retourner à" %}
    {% if request.META.HTTP_REFERER is None %}
        <a href="{% url 'landing_index' %}"> {% trans " l'Accueil" %}.</a>
    {% else %}
        <a href="{{ request.META.HTTP_REFERER }}"> {% trans " la Page précédente" %}.</a>
    {% endif %}
{% endblock %}

{% block search %}{% endblock %}
{% block copyrights %}{% endblock %}
